<div class="container" *ngIf="favoritos">
    <ul id="favoritos-list">
        <li *ngFor="let favorito of favoritos" class="favorito-item">
            <h4>{{favorito.title}}</h4>
            <p class="url">{{favorito.url}}</p>
            <p class="buttons">
                <a href="{{favorito.url}}" target="_blank" class="btn btn-default">Ir al marcador</a>
                <a [routerLink]="['/marcador', favorito._id]" class="btn btn-ver">Ver</a>
                <a [routerLink]="['/editar-marcador', favorito._id]" class="btn btn-editar">Editar</a>
                <a (click)="onBorrarConfirm(favorito._id)" class="btn btn-eliminar">Eliminar</a>
            </p>
            <div class="seguro" *ngIf="confirmado == favorito._id">
                <strong>¿Estás seguro de querer borrar el marcador?</strong>
                <a (click)="onBorrarFavorito(favorito._id)" class="btn btn-eliminar">Eliminar</a>
                <a (click)="onCancelarConfirm(favorito._id)" class="btn btn-ver">Cancelar</a>
            </div>
        </li>
    </ul>
</div>