<!DOCTYPE HTML>
<html>
    <head>
        <base href="/">
        <title>Angular 2 - Hola mundo!</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="node_modules/core-js/client/shim.min.js"></script>
        <script src="node_modules/zone.js/dist/zone.js"></script>
        <script src="node_modules/reflect-metadata/Reflect.js"></script>
        <script src="node_modules/systemjs/dist/system.src.js"></script>

        <script src="systemjs.config.js"></script>
        <script>
            System.import('app').catch(function(err){ console.error(err); });
        </script>

        <link rel="stylesheet" href="assets/css/styles.css">
    </head>

    <body>
        <section id="content">
            <my-app>
                <div class="loading" *ngIf="loading">
                    <img src="../../assets/images/buffer.svg" alt="">
                </div>
            </my-app>
        </section>

        <footer>
            &copy; Curso de NdoeJS y Angular 2 de victorroblesweb.es
        </footer>
    </body>
</html>