<header id="header">
  <img src="../assets/images/logo-angular.png" id="logo" alt="">

  <div class="title-subtitle">
    <h1><a [routerLink]="['/']">{{title}}</a></h1>
    <p>{{description}}</p>
  </div>

  <div class="btn-add-album">
    <a [routerLink]="['/crear-album']">Crear album</a>
  </div>

  <div class="clearfix"></div>
</header>

<section class="main">
  <!--Mostramos otro componente-->
  <router-outlet></router-outlet>
  <div class="clearfix"></div>
</section>
