body {
    font-family: Helvetica, Arial;
}

a {
    outline: none;
    text-decoration: none;
}

.clearfix {
    float: none;
    clear: both;
    text-decoration: none;
    list-style: none;
}

#content {
    width: 80%;
    min-height: 500px;
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px #ddd;
    background: #eee;
}

header {
    padding: 15px;
    background: #229138;
}

header .title-subtitle {
    display: inline-block;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 20px 100px;
    vertical-align: top;
    margin-top: 5px;
}

header .title-subtitle h1,
header p {
    margin: 0 0 0 10px;
    color: white;
}

header .title-subtitle h1 a {
    text-decoration: none;
    color: white;
}
header .title-subtitle p {
    color: #ddd;
}

header #logo {
    width: 95px;
    display: inline-block;
    position: absolute;
}

footer {
    width: 80%;
    margin: 20px auto;
    color: gray;
}

.btn {
    cursor: pointer;
}

.btn-add-favorito {
    width: 45%;
    display: inline-block;
    text-align: right;
    margin-top: 41px;
}

.btn-add-favorito a {
    padding: 10px;
    margin-right: 30px;
    margin-top: 5px;
    background: #eee;
    border-radius: 4px;
    border: 1px solid #ccc;
    -webkit-box-shadow: 0 0 5px gray;
    -moz-box-shadow: 0 0 5px gray;
    box-shadow: 0 0 5px gray;
    color: #666;
    text-decoration: none;
    transition: all 300ms;
}

.btn-add-favorito a:hover {
    background: white;
    color: #444;
}

.container {
    padding: 20px;
}

#favoritos-list {
    padding: 0;
    margin: 0;
}

.favorito-item {
    list-style: none;
    width: 28%;
    border: 1px solid #ddd;
    height: 120px;
    display: inline-block;
    padding: 20px;
    color: gray;
    background: white;
    margin-right: 20px;
    margin-bottom: 20px;
    vertical-align: top;
    position: relative;
}
.favorito-item:first-child {
    margin-left: 0;
}
.favorito-item h4 {
    color: #444;
    margin: 5px 0 0 0;
    padding: 0;
}
.favorito-item .url {
    margin: 0;
    padding: 0;
    height: 45px;
    overflow: hidden;
}

.btn {
    font-size: 13px;
    border: 1px solid #1976D2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0 0 5px #ddd;
    padding: 5px;
    text-decoration: none;
    color: white;
    background: #0074d9;
}

.btn-editar {
    background: #0a0;
    border-color: #59a600;
}

.btn-eliminar {
    background: #E23237;
    border-color: #F54747;
}

.btn-default {
    background: #eaa615;
    border-color: #cc941c;
    color: white;
}

.favorito-box {
    width: 95%;
    border: 1px solid #ddd;
    height: 100%;
    display: inline-block;
    padding: 20px;
    background: white;
    margin: 20px 10px;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none !important;
}

.loading img {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin-left: -75px;
    margin-top: -75px;
}

.seguro {
    background: white;
    position: absolute;
    width: 100%;
    bottom: 15px;
    left: 0;
    text-align: center;
}

.seguro strong {
    margin-bottom: 10px;
    display: block;
}