<h1>{{titulo}}</h1>

<form #formAlbum="ngForm" (ngSubmit)="onSubmit()">
  <label>Nombre: </label>
  <p>
    <input type="text" #title="ngModel" name="title" [(ngModel)]="album.title" required>
    <span *ngIf="!title.valid && title.touched">
      El nombre es obligatorio
    </span>
  </p>

  <label>Descripción: </label>
  <p>
    <textarea #description="ngModel" name="description" [(ngModel)]="album.description" required></textarea>
    <span *ngIf="!description.valid && description.touched">
      La descripción es obligatoria
    </span>
  </p>

  <input type="submit" value="Crear album" [disabled]="!formAlbum.form.valid">
</form>
