<div class="loading" *ngIf="loading">
  <img src="../../assets/images/buffer.svg" alt="">
</div>

<div *ngIf="album" class="album-box">
  <div class="data-rest">
    <h1>Album: {{album.title}}</h1>
    <p class="description">{{album.description}}</p>
  </div>
</div>
